<footer class="footer" role="contentinfo">
    <div>
        <div id="block-footerblock" class="contextual-region block-hcpss-school block-footer-block">
            <div class="container">
                <div class="footer__hcpss-logo">
                    <a href="https://www.hcpss.org/" target="_blank">
                        <img alt="HCPSS Logo." src="https://www.hcpss.org/f/mrb/base/hcpss-logo-outlined.png">
                    </a>
                </div>

                <div class="resources">
                    <div>
                        <h4>HCPSS Connect</h4>
                        <p>Access your student’s information and classroom instructional tools.</p>
                        <p><a href="https://www.hcpss.org/connect/" class="button is-light">Log in</a></p>
                    </div>
                    <div>
                        <h4>Your HCPSS News Subscription</h4>
                        <p>Learn more about the email and text alerts included within your HCPSS News subscription.</p>
                        <p><a href="https://www.hcpss.org/hcpss-news/" class="button is-light">Learn more</a></p>
                    </div>
                    <div>
                        <h4>District News</h4>
                        <p>Read stories published by the district's dedicated news team.</p>
                        <p><a href="https://news.hcpss.org/" class="button is-light">Stay informed</a></p>
                    </div>
                    <div>
                        <h4>School Culture</h4>
                        <p>HCPSS strives to create a positive and respectful learning environment for all students and staff.</p>
                        <p><a href="https://www.hcpss.org/inclusivity/" class="button is-light">Learn about our initiatives</a></p>
                    </div>
                    <div>
                        <h4>Safety and Environment</h4>
                        <p>HCPSS facilities are maintained to the highest standards by dedicated staff.</p>
                        <p><a href="https://ieq.hcpss.org/" class="button is-light">See how we operate</a></p>
                    </div>
                    <div>
                        <h4>About HCPSS</h4>
                        <p>Learn more about our guiding principles and view a profile of our district.</p>
                        <p><a href="https://www.hcpss.org/about-us/" class="button is-light">Find out more</a></p>
                    </div>
                    <div>
                        <h4>Bus Locator</h4>
                        <p>Find your student's bus number and pickup time.</p>
                        <p><a href="https://versatransweb06.tylertech.com/HowardCounty/elinkrp/Search.aspx" class="button is-light">Use our locator</a></p>
                    </div>
                    <div>
                        <h4>New to Howard County?</h4>
                        <p>Parents can enroll their child once they live in an HCPSS school attendance area.</p>
                        <p><a href="https://www.hcpss.org/enroll/" class="button is-light">Start the process</a></p>
                    </div>

                    <div class="address">
                        <address>
                            <h4>Atholton Elementary School</h4>
                            6700 Seneca Drive<br>
                            Columbia, MD 21046<br>
                            <abbr title="Phone">P:</abbr> 410-313-6853<br>
                            <abbr title="Fax">F:</abbr> 410-313-7410
                        </address>
                        <p>School Start and Dismissal Times: 9:15 a.m. - 3:45 p.m.</p>

                        <p class="footer-links"><a href="https://www.hcpss.org/f/schools/atholton-es-walk-area.pdf">Walk
                        Area Map</a><a href="https://www.hcpss.org/f/schools/profiles/prof_es_atholton.pdf">School
                        Profile</a></p>
                    </div>
                </div>
                <div class="footer-footer">
                    <hr>
                    <p>Part of the Howard County Public School System</p>
                    <div>
                        <a href="https://www.hcpss.org/es/">Servicios de Idiomas</a> |
                        <a href="https://www.hcpss.org/zh/">语言服务</a> |
                        <a href="https://www.hcpss.org/ko/">언어 서비스</a> |
                        <a href="https://www.hcpss.org/cnh/">Holhlei Riantuanmihna</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
