{% load static bulma_tags %}
<header class="hero is-primary" role="banner">
    <div class="hero-head"></div>
    <div class="hero-body">
        <div>
            <header class="container branding-header">
                <div class="branding-wrapper">
                    <a href="/" title="Home" rel="home">
                        <img src="{% static 'images/aes.png' %}" alt="Home">
                    </a>

                    <a class="title" href="/" title="Home" rel="home">Atholton Elementary School</a>
                </div>
                <nav class="secondary-links">
                    <ul>
                        <li><a href="/about">Contact Us</a></li>
                        <li><a href="/search">Search</a></li>
                        <li class="social"><a href="https://twitter.com/hcpss_aes"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <div class="hero-foot"></div>
</header>
